@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font";
  font-size: 14px;
  min-height: 0;
  margin: 0 0px;
}

window#waybar {
  background: transparent;
  background-color: #004b4b;
  transition-property: background-color;
  transition-duration: 0.1s;
}

.modules-right {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #3b936b;
  color: #afda6f;
}



#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button {
  background: #004b4b;
  padding: 2px 5px 2px;
  border-radius: 5px;
  margin-left: 5px;
  color: #95b1b0;
  font-weight: bold;
}

#workspaces button.focused {
  background: #3b936b;
  padding: 2px 15px 2px;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bold;
  color: #afda6f
}

#workspaces button.visible {
  color: #afda6f;
}

#window {
  color: #afda6f;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #ff8749;
}

#clock {
  margin-left: 20px;
}

#pulseaudio {
  margin-left: 20px;
}

#idle_inhibitor {
  margin-right: 12px;
  color: #7cb342;
}

#idle_inhibitor.activated {
  color: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}
